 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <h3>Você é pessoa?</h3>
                  <p>O Allegro te possibilita ir em eventos da sua escolha e conhecer pessoas novas com mais facilidade e objetividade. Você já começa a conversa com o encontro marcado.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Você é empresa?</h3>
                    <p>O Allegro te permite divulgar seus eventos com apenas um clique! Nós fazemos o resto.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
